body {
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;

}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 100;
    border-bottom: 10px solid grey;
}

.navBar ul li:hover {
    background-color: red;
    color:#FFF;
}

.menuBar {
    color: #F5F5ED;
    padding: 0px 16px;
    height: 50%;
    font-family: $font-choice;
    list-style: none;
    float: left;
    text-shadow: 2px 2px black;
}


.layout-image{
background-image: url("../images/banner_city_overlay.jpg");
height: 300px;
width: 100%;
background-size: 100% 100%;

}
