<h1>Blog's Comments</h1>


<div class="blogpost">


<%= @blogpost.content %>

</div>


<form class="" action='/content' method="post">

comment<input type="text" name="acomment" value="">
<input type="submit" name="submit" value="">
</form>

<% @comments.each do |comment| %>

<div class="username">
  <%= @user.username %>
</div>
<div class= "acomment"><%= comment.acomment %></div>


<% end %>

<link rel="stylesheet" type="text/css" href="css/styling.css">
