<%= @blogpost.content %>


<form class="" action='/content' method="post">
  <input type="text" name="title" value='<%="#{@title}"%>'>
comment<input type="text" name="acomment" value="">
<input type="submit" name="submit" value="">
</form>

<% @comments.each do |comment| %>

<div class="">
  <%= @user.username %>
</div>
<div ><%= comment.acomment %></div>


<% end %>
