


<h1>Sign in and Log in</h1>
<form class="" action="signup" method="post">
  Username<input type="text" name="username" value="" placeholder= "Username">
  Password <input type="text" name="password" value="" placeholder= "Password">
  <input type="submit" name="" value="Submit">
</form>
