


<h1>Sign in and Log in</h1>

<form class="signup-signin" action="signup" method="post">
  Username:<input type="text" name="username" value="" placeholder= "Username">
  <div>
    Password :<input type="text" name="password" value="" placeholder= "Password">
  </div>

  <input type="submit" name="" value="Submit">
</form>
