<nav>
    <div class="navBar">
         <ul>
            <li class="jetty menuBar"> GreenBook</li>
            <a href = "/"><li class="menuBar">Home</li></a>
            <a href = "/"><li class="menuBar">Profile</li></a>
            <li class="media"></li>
        </ul>

    </div>
</nav>


<div class="main-container"> <%= yield %> </div>


<link rel="stylesheet" type="text/css" href="css/styling.css">
